.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75rem 1.5rem;
  background-color: #fff;
}

.nav {
  display: none;
}

.Button {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding: 1rem 2.5rem;
  }

  .nav {
    display: inline-block;
  }

  .nav ul {
    display: flex;
    gap: 2.3125rem;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }

  .Button {
    display: block;
    padding: 0.75rem 1.5rem;
    background-color: #000;
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 1rem 10.3125rem;
  }
}
